# OS
Thumbs.db
Desktop.ini

# VS Code (optional: keep project configs)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio / MSVC
.vs/
Debug/
Release/
x64/
x86/
ipch/
*.iobj
*.ipdb
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.lastcodeanalysissucceeded
*.user
*.suo

# Generic C/C++ objects & binaries
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# CMake / build dirs
[Cc]MakeFiles/
CMakeCache.txt
cmake-build-*/
build/
Makefile
*.cmake
install_manifest.txt